<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Admin</legend>
            <table>
              <tr>
                <td><input type="submit" name="choice" value="AddEmployee"></td>
              </tr>
              <tr>
                <td><input type="submit" name="choice" value="AllEmployeeList"></td>
              </tr>
              <tr>
              </tr>
            </table>
        </fieldset>
    </form>
</body>
