<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Add Employee page</legend>
            <table border="2">
              <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Address</td>
                <td>Gender</td>
                <td>Designation</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Neel</td>
                <td>1234</td>
                <td>Bashundhara</td>
                <td>Male</td>
                <td>Author</td>
                <td><a href="/Admin/update/1" choice="update">Update</a></td>
                <td><a href="/Admin/delete/1" choice="delete">Delete</a></td>
              </tr>
              <tr>
                <td>Foysol</td>
                <td>01751954852</td>
                <td>Shyket</td>
                <td>Male</td>
                <td>Test</td>
                <td><a href="/Admin/update/1" choice="update">Update</a></td>
                <td><a href="/Admin/delete/1" choice="delete">Delete</a></td>
              </tr>
              <tr>
                <td>Naim</td>
                <td>1234</td>
                <td>Nikunjo</td>
                <td>Male</td>
                <td>Writter</td>
                <td><a href="/Admin/update/1" choice="update">Update</a></td>
                <td><a href="/Admin/delete/1" choice="delete">Delete</a></td>
              </tr>
              <tr>
                <td>Mahi</td>
                <td>1234</td>
                <td>Hobigonj</td>
                <td>Female</td>
                <td>DEsign</td>
                <td><a href="/Admin/update/1" choice="update">Update</a></td>
                <td><a href="/Admin/delete/1" choice="delete">Delete</a></td>
              </tr>
            </table>
        </fieldset>
    </form>
</body>
