<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Update Employee page</legend>
            <table>
              <tr>
                <td>Employee name</td>
                <td><input type="text" name="empName" value="Neel "></td>
              </tr>
              <tr>
                <td>Employee Phone</td>
                <td><input type="text" name="empPhn" value="1234"></td>
              </tr>
              <tr>
                <td>Employee Address</td>
                <td><input type="text" name="empAdd" value="Bashundhara"></td>
              </tr>
              <tr>
                <td><input type="submit" value="Update"></td>
              </tr>
            </table>
        </fieldset>
    </form>
</body>
